/* ------------------COMMAN------------------ */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 1000px;
}

/* ------------------------------------HEADER------------------------------------ */

#image-container {
  width: 100%;
  height: 568px;
  position: relative;
  overflow: hidden;
}

#image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transform: scale(1.1);
  filter: blur(1px);
}
/* NAV */
#nav {
  position: absolute;
  top: 8px;
  width: 100%;
}

#header-nav-container {
  width: 58%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#logo-container a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration-line: none;
}

#logo-container p {
  padding-left: 4px;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

#nav-header {
  display: flex;
}

#nav-header li {
  list-style-type: none;
}

#nav-header a {
  color: white ;
  text-decoration-line: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-right: 19px;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#logo-header-body img{
  position: absolute;
  top: 174px;
  left: 810px;
  max-width: 282px;
  max-height: 60px;
}

#logo-header-body h1{
  position: absolute;
  top: 240px;
  left: 607px;
  color: white;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

/* ------------------LOCATION AND SEARCH FOOD,RESTAURANT------------------ */

#search-container {
  position: absolute;
  top: 342px;
  width: 100%;
}

#container-loc {
  width: 41.5%;
  margin: auto;
  display: flex;
}

/* LOCATION */

#location-div {
  width:31.5%;
}

#text-loc-div input{
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: default;
  border: none;
  border-radius: 6px;
  outline: none;
  
}

#text-loc {
  position: absolute;
  top: 15px;
  left: 600px;
  padding-right: 3px;
}
#text-loc input{
  font-family: Okra, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  width: 164px;
  height: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#location-icon-div {
  padding-left: 12px;
  position: absolute;
  top: 17px;
}

#options-icon-div {
  position: absolute;
  top: 19px;
  left: 785px;
}

#option-icon {
  cursor: pointer;
}

/* FOOD AND RESTAURANT */

#dish-search-container {
  width: 68.5%;
}

#sep-line {
  position: absolute;
  top: 12px;
  left: 806px;
  font-size: 23px;
  cursor: default;
  color: #2c2c2c;
}

#search-icon {
  position: absolute;
  top: 18px;
  left: 827px;
}
#search-bar {
  margin-left: -10px;
}

#search-bar input{
  width: 96.5%;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 57px;
  border: none;
  border-radius: 6px;
  outline: none; 
  font-family: Okra, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: -0.5px;
}


/* ------------------------------------BODY------------------------------------ */

/* ORDER OPTIONS */
#order-option-continer {
  width: 100%;
  margin-top: 40px;
}
#order-option {
  width: 58%;
  margin: auto;
  display: flex;
}

.method {
  width: 50%;
  border: 1px ridge rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  transition: transform 0.2s;
}

.method:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.method-img img {
  min-width: 535px;
  max-height: 155px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 -145px;
  border-radius: 13px 13px 0 0;
  filter: blur(1px);
}


.method-text {
  width: 93%;
  margin: auto;
}

.method-order {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgb(54, 54, 54);
}

.method-order-feature {
  margin-top: 4px;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(79, 79, 79);
}

/* TOP COLLECTIONS */


#collections-container {
  width: 100%;
  height: 420px;
}

#collections-detials {
  width: 58%;
  margin: auto;
}

#collections-detials h4 {
  font-family: Okra, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
}

#collections-info {
  margin-top: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#collections-info p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgb(54, 54, 54);
  vertical-align: middle;
}

#collections-info a {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: none;
  color: rgb(255, 126, 139);
  vertical-align: middle;
}

#collections-info svg {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

#top-cards {
  width: 100%;
  margin-top: 32px;
  display: flex;
}

.top-card {
  margin-right: 13px;
  position: relative;
}

.card-container img {
  min-height: 320px;
  max-width: 266px;
  border-radius: 8px;
  object-fit: cover;
}

.text-above-card {
  position: absolute;
  top: 230px;
  left: 15px;
}

.text-above-card h6{
  font-family: Okra, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
  color: white;
}

.text-above-card p{
  margin-top: 0;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

/* POPULAR LOCALITIES */

#popular-loc {
  width: 100%;
  height: 370px;
  margin-top: 120px;
}

#container-pop {
  width: 58%;
  margin: auto;
  height: 100%;
}

#heading-popular h3 {
  margin-top: 0;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
}

#heading-popular span {
  font-family: Okra, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 500;
}

#places-container {
  margin-top: 40px;
}

#locations-row1 {
  width: 100%;
  display: flex;
}

.loc-name {
  width: 357.922px;
  height: 80px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  border: 1px ridge rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.city-places{
  width: 180px;
}

.city-places h6{
  text-align: left;
  width: 190px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}


.loc-name p {
  margin-top: 3px;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  text-align: left;
}

.place-options {
  margin-left: 130px;
}

#locations-row2,
#locations-row3 {
  width: 100%;
  display: flex;
  margin-top: 20px;
}


#see-more {
  margin-left: 115px;
  display: flex;
  align-items: center;
}

#see-more h6 {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#see-more svg {
  margin-left: 15px;
}

/* GET APP */

#get-app {
  width: 100%;
  height: 500px;
  margin-top: 115px;
}

#get-app-container {
  width: 40%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

#div-img-app-homepage {
  width: 280px;
  height: 500px;
  margin-right: 20px;
}

#img-app-homepage  {
  width: 100%;
  margin: auto;
  margin-top: 41.9%;
  height: 268px;
}

#img-app-homepage img {
  width: 90%;
  height: 100%;
  margin-left: 11px;
}
 
#get-detials {
  width: 460px;
  height: 500px;
}


#get-text h3{
  font-family: Okra, Helvetica, sans-serif;
  font-size: 44px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 15px;
}

#get-text p {
font-family: Okra, Helvetica, sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 34px;
}

#user-information {
  margin-top: 35px;
}

#user-information input[type=radio] {
  cursor: pointer;
  accent-color: red;
  width: 4%;
  height: 16px;
}


#user-information label {
  font-family: Okra, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-right: 19px;
  cursor: pointer;
}

#user-email {
  margin-top: 45px;
}

#user-email input[type=email] {
  padding-left: 11.5px;
  padding-right: 62.5px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-family: Okra, Helvetica, sans-seri;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid ;
  border-color: rgb(224, 53, 70);
  vertical-align: middle;
  border-radius: 8px;
}

#user-email input[type=button] {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(16, 16, 16, 0.3);
  background-color: rgb(156, 156, 156);
  border: none;
  border-radius: 8px;
}

#download-app p {
  font-family: Okra, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgb(156, 156, 156);
  margin-top: 12px;
}

#download-options {
  margin-top: 15px;
  display: flex;
}

.img-download {
  width: 137px;
  height: 40px;
  margin-right: 15px;
}

/* EXPLORE OPTIONS NEAR USER */

#explore-option {
  width: 100%;
  height: 500px;
}

#explore-options-container {
  margin: auto;
  width: 58%;
  height: 100%;
}

#explore-options-container p {
  font-family: Okra, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.explore-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 7px;
  margin-bottom: 15px;
}

.explore-options h5{
  font-family: Okra, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}

.explore-options svg {
  margin-right: 30px;
}

/* ZOMATO FOOTER LOGO SIDE  */

#zomato-footer {
  width: 100%;
  height: 56px;
}

#zomato-footer-container {
  width: 59%;
  margin: auto;
  height: 100%;
  display: flex;
}

#zomato-footer-logo {
  width: 50%;
  height: 100%;
  background-color: mediumaquamarine;
  display: flex;
  align-items: center;
}

#zomato-footer-logo img{
  width: 132px;
  height: 28px;
}

#country-language {
  width: 100%;
  height: 100%;
  background-color: mediumblue;
  display: flex;
  justify-content: end;
  align-items: center;
}

#country-lang-buttons {
  display: flex;
  width: 35.8%;
  height: 60%;
  justify-content: end;
  background-color: mediumseagreen;
}
#country {
  margin-right: 18px;
  padding-right: 7px;
}

#country img {
  width: 16px;
  height: 16px;
}


#country ,
#language {
  display: flex;
  align-items: center;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 6px;
}

#language {
  margin-right: 8px;
  padding-right: 0px;
}

#country p,
#language p{  
  margin-left: 8px;
  margin-right: 5px;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

