@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/GothamSSm-Bold_Web.woff2);
}

@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/GothamSSm-Medium_Web.woff2);
}

@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GothamSSm-Book_Web.woff2);
}

@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/GothamSSm-Light_Web.woff2);
}

@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 200;
  src: url(fonts/GothamSSm-XLight_Web.woff2);
}