/* HEADER */

header {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 100;
}

/* LOGO DIV */

#tesla-logo-div {
  width: 38%;
}

#tesla-logo {
  height: 45px;
  margin-left: 38px;
  margin-top: 2px;
  width: 142px;
  cursor: pointer;
}

/* HEADER BUTTONS */

#tesla-header-buttons {
  width: 24%;
}

#tesla-list {
  display: flex;
  padding-left: 8px;
}


.header-buttons {
  list-style-type: none;
}

.button-header {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.7s;
}

.button-header:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.button-text {
  font-family: 'Gotham SSm';
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: rgb(23, 26, 32);
}

/* NAV ICONS */

.end-nav {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  width: 37.98%;
}

.end-nav-buttons {
  display: flex;
  margin-right: 31px;
  margin-top: 0px;
}

.icon {
  padding-bottom : 4px;
  padding-left : 4px;
  padding-right : 4px;
  padding-top : 4px;
  background: none;
  cursor: pointer;
  transition: 0.7s;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.08);
}