
/* COMMON OF HEADER */

header {
  margin: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
}

.logo-div ,
.center-nav ,
.end-nav {
  flex: 1;
  align-items: center;
}

.center-nav ,
.end-nav {
  display: flex;
  align-items: center;
}

/* TESLA LOGO */

#tesla-logo {
  width: 142px;
  height: 45px;
  margin-left: 38px;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 2px;
}

/* HEADER BUTTONS */

.buttons-header {
  margin-left: 112px;
  display: flex;
}

.header-buttons {
  padding-bottom : 4px;
  padding-left : 8px;
  padding-right : 8px;
  padding-top : 4px;
  cursor: pointer;
  margin-right: 16px;
  background: none;
  border: none;
}

.button-text-header {
  font-size: 14px;
  font-family : "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: rgb(23, 26, 32);
}

/* NAV ICONS */

.end-nav {
  justify-content: flex-end;
}

.end-nav-buttons {
  margin-top: 4px;
  margin-right: 31px;
}

.icon {
  cursor: pointer;
  padding-bottom : 4px;
  padding-left : 4px;
  padding-right : 4px;
  padding-top : 4px;
}