body{
  margin: 0px;
}
.background-one ,
.background-two ,
.background-three ,
.background-four ,
.background-five ,
.background-six ,
.background-seven ,
.background-eight ,
.background-nine{
  height: 1080px;
  width: 100%;
  margin:0px auto;
  display: block;
}